<ion-header [translucent]="true">
  <ion-toolbar color="p-1">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">แสดงข้อมูลนักเรียน ปวช.2/3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item *ngFor="let mb of member">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>&nbsp;&nbsp;&nbsp;
    <ion-label>{{mb.id_stu}}&nbsp;&nbsp;&nbsp;{{mb.name}}&nbsp;&nbsp;&nbsp;{{mb.nname}}</ion-label>
    <ion-button color="warning" (click)="edit(mb)">แก้ไข</ion-button>
    <ion-button color="danger" slot="end" (click)="delMem(mb.id)">ลบข้อมูล</ion-button>
  </ion-item>
